<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eventia</title>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
        crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    @* @await RenderSectionAsync("bottom_of_head", false);*@

</head>
<body>
<header class="my-header">

    <div class="fixed-navbar container-md">
        <nav class="navbar navbar-expand " >
            <div class="container-md">
                <div class="navbar-header">
                    <a class="navbar-brand logo" href="#">Eventia</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link" asp-controller="Events" asp-action="Index">Events</a></li>
                    <li><a class="nav-link" asp-controller="Events" asp-action="MyEvents">My Events</a></li>
                </ul>
                <a class="btn btn-info my-btn" asp-controller="Login" asp-action="Index">Log in</a>
            </div>
        </nav>
    </div>
</header>


<main>
    @RenderBody()
</main>


<footer>
    <p>&copy; Eventia 2022</p>
</footer>

@await RenderSectionAsync("bottom_of_body", false)
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

<style>
    html {
        background-color: #FCF6F5FF;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffccb0;
        max-width: 1200px;
        margin: auto;
        color:#5b0e2d;
        position: relative;
        min-height: 100vh;
    }
    header {
        display: block;
        background-color: #f0bca6;
        padding: 10px 20px;
        width: 100%;
        
        z-index: 2;
        
    }
    .my-header {
        position: fixed;
        top: 0;
        max-width: 1200px;
        
    }
    .logo, h1 {
        font-family: 'Sigmar One', cursive;
        color: #5b0e2d !important;
    }
    .nav > li a {
        color:#5b0e2d;  
    }
    .nav > li a:hover {
        font-weight: bold;
        color: #5b0e2d;
    }

    .my-btn {
        background-color: #5b0e2d;
        color: #FCF6F5FF;
        border: none;
        width: 100px;
    }
    .my-btn:hover {
        background-color: #A71A53;
        color: #FCF6F5FF;
    }
    .my-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }
    .main-content {
        margin: 50px 0;
        width: 800px;
        text-align: center;
    }
        
    .main-content h1,.main-content p {
        padding: 20px;
    }

    .main-content a {
        margin: 10px;
    }

    .my-accordion {
        width: 80%;
        background-color: #ffccb0;
    }
    .accordion-eventDetails {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: #f0bca6;
        max-width: 1200px;
        }
</style>
</html>