@inject IWebHostEnvironment _environment
@inject SignInManager<EventiaUser> _signInManager
@inject UserManager<EventiaUser> _userManager

<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eventia</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">


</head>
<body>
<header class="my-header">
             
    <div class="fixed-navbar container-md">
        <nav class="navbar navbar-expand ">
            <div class="container-md">
                <div class="navbar-header">
                    <a class="navbar-brand logo" asp-page="/Index">Eventia</a>
                </div>

                <ul class="nav navbar-nav">
                    @*<li><a class="nav-link" asp-page="/Index">Home</a></li>*@
                    <li><a class="nav-link" asp-controller="Events" asp-action="Index">Events &emsp;<b>|</b></a></li>
                    @if (User.IsInRole("user"))
                    {
                        <li><a class="nav-link" asp-controller="Events" asp-action="MyEvents">My Events &emsp;<b>|</b></a></li>
                    }
                    @if (User.IsInRole("administrator"))
                    {
                        <li><a class="nav-link" asp-page="/ManageUsers">Manage Users</a></li>
                    }
                    @if (User.IsInRole("organizer"))
                    {
                        <li><a class="nav-link" asp-page="/OrganizeEvents">Organize Events &emsp;<b>|</b></a></li>
                        <li><a class="nav-link" asp-page="/AddEvent">Add Event </a></li>
                    }
                    

                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </nav>
    </div>
    @if(_signInManager.IsSignedIn(User)){
        <div>
            <p class="headerUsername"><a asp-area="Identity" asp-page="/Account/Manage/Index">My Account: @User.Identity.Name</a></p>
        </div>
    }
</header>

<main>
    @RenderBody()
</main>


<footer>
    <p>&copy; Eventia 2022</p>
    @if (_environment.IsDevelopment())
    {   
        <div><a asp-page="/ResetDatabase">Reset Database - only för development purpose</a></div>    
    }
</footer>

@await RenderSectionAsync("Scripts", false)
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>