@page
@model EventiaWebapp.Pages.ApplyForOrganizerModel
@{
    ViewData["Title"] = "Become Organizer";
    ViewData["ActivePage"] = "";
}
<div class="my-managepages-container">
    <div>
        @if (User.IsInRole("user"))
        {
            <p>Here you can apply for Organizer-status and be able to add your own events to this page.</p>
            <form method="post">
                <button type="submit" class="btn btn-info my-btn confirm-btn">Apply for Organizer status</button>
            </form>
        }
        else if (User.IsInRole("organizer"))
        {
            <p>You are already an assigned Organizer.</p>
        }
        else if (User.IsInRole("administrator"))
        {
            <p>You are already an assigned Administrator.</p>
        }

    </div>
</div>