@page
@{
    ViewData["Title"] = "Confirmed Request";
    ViewData["ActivePage"] = "";
}
<div class="my-managepages-container">
    <div>
        <p>Your request has been sent. Please wait for approval.</p>
    </div>
</div>