@page
@model EventiaWebapp.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="my-container">
    <div class="card my-card">
        <h1>Something went wrong!</h1>
        <p>Page not found.</p>
        <a class="btn btn-info my-btn confirm-btn" asp-controller="Home" asp-action="Index">Back to Eventia</a>
        
    </div>
</div>