@page
@model EventiaWebapp.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="my-container">
    <div class="card my-card">
        <h1>Something went wrong!</h1>
        <p>@Model.ErrorMessage</p>
        <a class="btn btn-info my-btn confirm-btn" asp-page="/Index">Back to Eventia</a>
    </div>
</div>