@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<EventiaUser> SignInManager
@inject UserManager<EventiaUser> UserManager
@{
    ViewData["Title"] = "Welcome";
}

<div class="my-container top-banner">
    <div class="main-content">
        @*<div class="img-with-text">*@
        @*<img src="images/eventia.jpg"/>*@
        
        @if (!SignInManager.IsSignedIn(User))
        {
            <h1>Eventia - Up For This?</h1>
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <h1>Welcome</h1>
            <h5><b>@User.Identity.Name</b></h5>
        }

        
        @*</div>*@
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus officiis reiciendis facere tempore
            consequatur esse harum praesentium, corrupti aliquid maiores commodi? Maiores architecto officiis
            sapiente voluptas sit, quam itaque laboriosam et, deleniti aperiam temporibus magni tempore repellendus
            rem quo, ex ratione dolorem libero? Magni ut alias corrupti vero. Voluptas maxime at nesciunt provident
            quos. Repellat optio, est veniam quasi eaque odio nulla quo reprehenderit omnis voluptate voluptates.
            Dolorum ratione eaque magni ullam iste reiciendis pariatur officiis, molestiae temporibus animi fuga
            quae doloribus vero at cumque, harum fugiat laboriosam!
        </p>

        @if (User.IsInRole("administrator"))
        {
            <form class="form-inline" asp-page="/ManageUsers">
                <button type="submit" class="btn btn-info my-btn confirm-btn">Manage Users</button>
            </form>
        }
        @if (User.IsInRole("organizer"))
        {
            <form class="form-inline" asp-page="/AddEvent">
                <button type="submit" class="btn btn-info my-btn confirm-btn">Add Event</button>
            </form>
        }
        @if (User.IsInRole("organizer"))
        {
            <form class="form-inline" asp-controller="Events" asp-action="MyEvents">
                <button type="submit" class="btn btn-info my-btn confirm-btn">My events</button>
            </form>
        }
        @if (!SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-info my-btn confirm-btn" asp-controller="Events">Find events!</a>
            
        }

    </div>
</div>