@page "{eventId}"
@inject EventsHandler _eventsHandler

@model EventiaWebapp.Pages.JoinModel
@{
    ViewData["Title"] = "Events";
}


<div>
    <div class="my-container">
        <div class="card text-center my-card">
            <div class="card-header">
                Join this event?
            </div>
            <div class="card-body">
                <h3 class="card-title">@Model.evnt.Title</h3>
                <p class="card-text">@Model.evnt.Description</p>
                <form method="post" asp-route-evtId=@Model.evnt.Id><button class="btn btn-info my-btn confirm-btn">Confirm Booking</button></form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>

