@page
@model EventiaWebapp.Pages.ResetDatabaseModel
@{
    ViewData["Title"] = "Reset";
}
<div class="my-container">
    <div class="card my-card">
        <form method="post">
            <h1>DANGER!!!</h1>
            <p>Do you really want to Reset the entire database?</p>
            <button class="btn btn-info my-btn confirm-btn" type="submit">
                Reset Database
            </button>
        </form>
    </div>
</div>