html {
    background-color: #e6e0da;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E6CCB5;
    max-width: 1200px;
    margin: auto;
    color: #5b0e2d;
    position: relative;
    min-height: 100vh;
}

a {
    color: #5b0e2d;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: #5b0e2d;
}

a:hover {
    cursor: pointer;
}

header {
    display: block;
    background-color: #ccb8a4;
    padding: 10px 20px;
    width: 100%;
    z-index: 2;
}

.my-header {
    position: fixed;
    top: 0;
    max-width: 1200px;
}

.headerUsername {
    font-size: small;
    text-align: center;
    margin-bottom: 0px;
}

.logo, h1 {
    font-family: 'Sigmar One', cursive;
    color: #5b0e2d !important;
}

.nav > li a {
    color: #5b0e2d;
}

    .nav > li a:hover {
        font-weight: bold;
        color: #5b0e2d;
    }

.my-btn {
    background-color: #E38B75;
    color: rgba(246, 245, 255, 0.99);
    border: none;
    width: 100px;
    transition: none;
    margin: 10px;
}

    .my-btn:hover {
        background-color: #5b0e2d;
        color: rgba(246, 245, 255, 0.99);
    }

    .my-btn:after {
        color: rgba(246, 245, 255, 0.99);
        background-color: green;
        box-shadow: none;
    }

    .my-btn:focus {
        box-shadow: none !important;
    }

.confirm-btn {
    width: 200px;
   
}


.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.main-content {
    margin: 50px 0;
    width: 800px;
    text-align: center;
}
.main-content p {
    text-align: justify;
}

    .main-content h1, .main-content p {
        padding: 20px;
    }

    .main-content a {
        margin: 10px;
    }

.my-accordion {
    width: 80%;
    background-color: #ffccb0;
}

.accordion-button:not(.collapsed) {
    background-color: #BAA896;
    color: #5b0e2d;
    font-weight: normal;
}

.accordion-button:focus {
    border: none;
    color: #5b0e2d;
    box-shadow: none;
    font-weight: bold;
}

.accordion-button::after {
    font-weight: normal;
}
    .accordion-eventDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;

}

.my-card {
    margin-bottom: 25px;
    width: 800px;
    text-align: center;
    display: flex;
    align-items: center;
}

    .my-card h3, p {
        padding: 0px 70px;
        color: #5b0e2d;
    }

    .my-card h1 {
        margin: 20px;
    }

.card-header, .card-footer {
    padding-top: 20px;
}

.my-eventlist {
    padding: 10px;
    width: 1000px;
}
.my-row {
    max-width: 400px;
}

#registerForm, #account #personalData{
    display: flex;
    flex-direction: column;
    
}

    #registerForm > *,
    #account > *,
    #profile-form > *,
    #email-form > *,
    #change-password-form > * {
        margin: 5px 0px;
    }

    #registerForm button,
    #account button,
    #profile-form button,
    #email-form button,
    #change-password-form button{
        align-self: flex-end;
        margin-top: 15px;
        margin-right: 0;
    }

#personalData {
    max-width: 400px;
}
.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-extra-links {
    margin-top: 50px !important;
}

.my-managepages-container {
    padding: 0;
}
/*.login-extra-links a {
    color: #5b0e2d;
    text-decoration: none;
}
    .login-extra-links a:hover {
        font-weight: bold;
    }*/
.login-extra-links p {
    text-align: center;
    font-size: small;
}

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80px;
        background-color: #ccb8a4;
        max-width: 1200px;
    }

footer a {
    font-size: smaller;
}


