@inject EventsHandler _eventsHandler

@{
    ViewData["Title"] = "Events";
}
    
<div>
<a href="webbsidor.html">
<div class="card my-card" id="card-webbsidor">
    <img src="../Images/mobil.jpg" class="card-img-top img-laptop" alt="">
    <div class="card-body">
        <h5 class="card-title">Webbsidor</h5>
        <p class="card-text">Vi skapar dynamiska, moderna appar och webbsidor som funkar lika bra i mobilen som på laptopen.  </p>
    </div>
</div>
</a>
</div>